<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Be Geek - Gafas de sol y graduadas para auténticos Geeks{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/begeeklogo.jpg') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
           
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('shop') }}">
            <img src="{{ asset('img/begeeklogo.jpg') }}" width="40" height="40" alt="BeGeek Logo">
        </a>
        </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">GAFAS GEEK MAN</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK WOMAN</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK NINJA</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK FROG</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK POWER</a>
                    </div>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button i class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div id="nav-icons" class="row">
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hazte Premium</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('login') }}">Entra o Regístrate<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart') }}">Mi Carrito</a>
                    </li>
                </div>
            </ul>   
        </div>
        </nav> 
    </div>
        {% block body %}
        <h1>Prueba </h1>
        {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
        {% block javascripts %}{% endblock %}
    </body>
</html>