{% extends "base.html.twig" %}

{% block title %}Be Geek - Gafas de sol y graduadas para auténticos Geeks{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <title>Be Geek - Gafas de sol y graduadas para auténticos Geeks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('img/begeeklogo.jpg') }}" width="40" height="40" alt="BeGeek Logo">
        </a>
        </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">GAFAS GEEK MAN</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK WOMAN</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK NINJA</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK FROG</a>
                        <a class="dropdown-item" href="#">GAFAS GEEK POWER</a>
                    </div>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button i class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div id="nav-icons" class="row">
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hazte Premium</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('login') }}">Entra o Regístrate<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mi Carrito</a>
                    </li>
                </div>
            </ul>   
        </div>
        </nav> 
    </div>
      <main class="bmd-layout-content">
            <div class="portada1">
                <div class="portada2">
                    <img src="{{ asset('img/portadalim.jpg') }}" class="logo"/>
                    <button class="buttonCatalogo">CATÁLOGO</button>
                </div>
                <img src="{{ asset('img/adult-face.jpg') }}" class="face"/>
	        </div>
            <div class='row' id='buttonsDiv'>
                <button class="buttonBasic">OFERTAS    ></button>
                <button class="buttonBasic">NOVEDADES  ></button>
                <button class="buttonBasic">PROMOCIONES ></button>
            </div>
            <div class='row' id="catalogo">
                <div class="col-sm-4">                  
                    <img src="{{ asset('img/gafa1.jpg') }}" alt="BeGeek gafas de sol" style="width:100%">
                    <h2>GAFAS GEEK 1</h2>
                    <p class="price">30 $</p>
                    <p>Recíbelo ya.</p>
                    <img src="{{ asset('img/stars.png') }}" alt="BeGeek gafas de sol" style="width:50%">
                </div>
                <div class="col-sm-4">                  
                    <img src="{{ asset('img/gafa2.jpg') }}" alt="BeGeek gafas de sol" style="width:100%">
                    <h2>GAFAS GEEK 2</h2>
                    <p class="price">30 $</p>
                    <p>Recíbelo ya.</p>
                    <img src="{{ asset('img/stars.png') }}" alt="BeGeek gafas de sol" style="width:50%">
                </div>
                <div class="col-sm-4">                  
                    <img src="{{ asset('img/gafa3.jpg') }}" alt="BeGeek gafas de sol" style="width:100%">
                    <h2>GAFAS GEEK 3</h2>
                    <p class="price">30 $</p>
                    <p>Recíbelo ya.</p>
                    <img src="{{ asset('img/stars.png') }}" alt="BeGeek gafas de sol" style="width:50%">
                </div> 
                <div class="col-sm-4">                  
                    <img src="{{ asset('img/gafa4.jpg') }}" alt="BeGeek gafas de sol" style="width:100%">
                    <h2>GAFAS GEEK 4</h2>
                    <p class="price">30 $</p>
                    <p>Recíbelo ya.</p>
                    <img src="{{ asset('img/stars.png') }}" alt="BeGeek gafas de sol" style="width:50%">
                </div>
                <div class="col-sm-4">                  
                    <img src="{{ asset('img/gafa5.jpg') }}" alt="BeGeek gafas de sol" style="width:100%">
                    <h2>GAFAS GEEK 5</h2>
                    <p class="price">30 $</p>
                    <p>Recíbelo ya.</p>
                    <img src="{{ asset('img/stars.png') }}" alt="BeGeek gafas de sol" style="width:50%">
                </div>
                <div class="col-sm-4">                  
                    <img src="{{ asset('img/gafa6.jpg') }}" alt="BeGeek gafas de sol" style="width:100%">
                    <h2>GAFAS GEEK 6</h2>
                    <p class="price">30 $</p>
                    <p>Recíbelo ya.</p>
                    <img src="{{ asset('img/stars.png') }}" alt="BeGeek gafas de sol" style="width:50%">
                </div>   
            </div>
        </main>
    </body>
</html>

{% endblock %}